---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kun Tin | Contact" css="contact">
  <!-- contact -->
  <section id="contact">
    <h2>Contact</h2>
    <div class="context">
      <p class="contact-descrip">
        I'm always open for collaborations in
        <em>hackathons</em>, <em>academic research projects</em> and
        <em>open-source projects</em>.
        <br />
        <br />
        Feel free to reach out to me via my socials!
      </p>
      <div class="contact">
        <a href="https://x.com/kuntiniong">X</a>
        <p>·</p>
        <a href="https://github.com/kuntiniong">GitHub</a>
        <p>·</p>
        <a href="https://behance.net/kuntin">Behance</a>
        <p>·</p>
        <a href="mailto:dev@kunt.in">dev@kunt.in</a>
      </div>
    </div>
  </section>
</Layout>
