---
import Layout from '../layouts/Layout.astro';
---

<style is:global>
  @import "/css/contact.css";
  @import "/css/courses.css";
  @import "/css/projects.css";
</style>

<Layout title="Kun Tin | Home">
  <!-- home -->
  <section id="home"></section>

  <!-- about me -->
  <section id="about">
    <div class="section-title">
      <h2>About Me</h2>
    </div>

    <div class="about context">
      <p>
        Hi people, I'm <em>Kun Tin</em> or you can call me <em>Kyle</em>😊
        <br /><br />

        I'm from Macau and was admitted to <em>CityUHK Data Science</em> with
        direct sophomore entry after high school in 2023. Additionally, I'm
        pursuing a minor in <em>Mathematics</em> with a focus on statistics.
        <br /><br />

        Outside coursework, I've also taken part in different
        <em>hackathons, fintech and start-up competitions</em>. Currently, I'm
        a full stack developer intern at <em>UNICEF Hong Kong</em> and am interested in <em>machine learning, UI design and web development</em>.
      </p>
    </div>
  </section>

  <!-- projects -->
  <section id="projects">
    <h2>Projects</h2>

    <!-- item = info + project-image -->
    <!-- info = project-name + project-descrip + tech -->
    <div class="project context">
      <div class="project-item">
        <div class="project-info">
          <a href="https://github.com/kuntiniong/concert-ticket-app">
            <h3 class="project-name">Concert Ticketing App</h3>
            <p class="project-descrip">
              A <em>full stack concert ticketing</em> web app with
              <em>dual CMS </em> for technical and
              non-technical users <em>(Strapi Admin Panel + Google Sheets)</em>
            </p>

            <p class="tech">
              > Tech: <span>React, Strapi, Tailwind CSS, shadcn, Google Apps Script</span>
            </p>
          </a>
        </div>
        <div class="project-image">
          <img src="/images/ticket.png" alt="Concert Ticketing App Screenshot" loading="lazy" width="400" height="300" />
        </div>
        <div class="project-border"></div>
      </div>

      <div class="project-item">
        <div class="project-info">
          <a href="https://github.com/kuntiniong/kunt.in">
            <h3 class="project-name">kunt.in</h3>
            <p class="project-descrip">
              I built this <em>personal website</em> with vanilla Javascript on my own
            </p>

            <p class="tech">> Tech: <span>HTML, CSS, JavaScript</span></p>
          </a>
        </div>

        <div class="project-image">
          <img src="/images/web.png" alt="Personal Website Screenshot" loading="lazy" width="400" height="300" />
        </div>
        <div class="project-border"></div>
      </div>

      <div class="project-item">
        <div class="project-info">
          <a href="https://github.com/kuntiniong/hk-insta-identifier">
            <h3 class="project-name">
              Hong Kong Instagram Username Identifier
            </h3>
            <p class="project-descrip">
              A <em>NLP</em> pipeline that identifies
              <em>Hong Kong IG users</em> based on
              <em>Romanized Cantonese linguistic features</em> in
              <em>usernames</em>, without metadata
            </p>

            <p class="tech">
              > Tech: <span>Scikit-Learn, NLTK, Selenium</span>
            </p>
          </a>
        </div>
        <div class="project-image">
          <img src="/images/ig.png" alt="Instagram Logo for HK Username Identifier Project" loading="lazy" width="400" height="300" />
        </div>
        <div class="project-border"></div>
      </div>

      <div class="project-item">
        <div class="project-info">
          <a href="https://github.com/kuntiniong/aerolunar">
            <h3 class="project-name">AeroLunar</h3>
            <p class="project-descrip">
              A <em>time series forecasting</em> project that predicts
              <em>Air Quality Health Index (空氣質素健康指數)</em> using
              <em>lunar cycles</em>
            </p>

            <p class="project-descrip">
              Inspired by the
              <em>Chinese health beliefs</em> related to
              <em>lunar calendar</em>
            </p>

            <p class="tech">> Tech: <span>PyTorch, statsmodels</span></p>
          </a>
        </div>

        <div class="project-image">
          <img src="/images/moon.jpeg" alt="Moon Phase for AeroLunar Air Quality Prediction Project" loading="lazy" width="400" height="300" />
        </div>
        <div class="project-border"></div>
      </div>

      <div class="project-item">
        <div class="project-info">
          <a href="https://github.com/kuntiniong/ml-scratch">
            <h3 class="project-name">Machine Learning Models from Scratch</h3>
            <p class="project-descrip">
              A <em>Python implementation</em> of
              <em>8 ML models</em> introduced in
              <em>CS229</em>
            </p>

            <p class="tech">> Tech: <span>NumPy</span></p>
          </a>
        </div>

        <div class="project-image">
          <img src="/images/ml.png" alt="Machine Learning Models Implementation Screenshot" loading="lazy" width="400" height="300" />
        </div>
        <div class="project-border"></div>
      </div>
    </div>
  </section>

  <!-- courses -->
  <section id="courses">
    <h2>Courses</h2>
    <!-- courses = year(title) + course-list-->
    <div class="courses context">
      <div class="year">
        <h3>- Year 2</h3>
        <ul class="course-list">
          <div class="math">
            <li class="course-item">MA2508 &nbsp Multivariable Calculus</li>
            <li class="course-item">SDSC3007 Advanced Stats</li>
            <li class="course-item">SDSC2002 Convex Optimization</li>
            <li class="course-item">GE1358 &nbsp Coordinate Geometry</li>
          </div>

          <div class="business">
            <li class="course-item">CB3410 &nbsp Financial Management</li>
          </div>

          <div class="tech">
            <li class="course-item">CS2334 &nbsp Data Structures</li>
            <li class="course-item">CS3273 &nbsp Data & System Security</li>
            <li class="course-item">SDSC3006 Machine Learning</li>
            <li class="course-item">
              LT3233 &nbsp Computational Linguistics
            </li>
            <li class="course-item">
              SDSC2005 Intro to Computational SocSci
            </li>
          </div>

          <div class="lang">
            <li class="course-item">PED1706 &nbspSoccer</li>
          </div>
        </ul>
      </div>

      <div class="year">
        <h3>- Year 1</h3>
        <ul class="course-list">
          <div class="math">
            <li class="course-item">MA1503 &nbsp Linear Algebra</li>
            <li class="course-item">MA2510 &nbsp Stats & Probability</li>
            <li class="course-item">SDSC2102 Stat Methods & Data Analysis</li>
          </div>

          <div class="business">
            <li class="course-item">GE2256 &nbsp Game Theory for Business</li>
          </div>

          <div class="tech">
            <li class="course-item">
              CS1315 &nbsp Intro to Programming (C++)
            </li>
            <li class="course-item">SDSC2001 Python for Data Science</li>
            <li class="course-item">CS3402 &nbsp Database Systems</li>
            <li class="course-item">SDSC2004 Data Visualization</li>
          </div>

          <div class="lang">
            <li class="course-item">GE1401 &nbsp University English</li>
            <li class="course-item">GE2401 &nbsp English for Science</li>
          </div>
        </ul>
      </div>
    </div>
      <div class="legend">
    <p>></p>
    <div class="legend-item">
      <div class="legend-color math-color"></div>
      <p>Math</p>
    </div>
    <div class="legend-item">
      <div class="legend-color tech-color"></div>
      <p>Tech</p>
    </div>
    <div class="legend-item">
      <div class="legend-color business-color"></div>
      <p>Business</p>
    </div>
    <div class="legend-item">
      <div class="legend-color lang-color"></div>
      <p>Miscellaneous</p>
    </div>
  </div>
  </section>

  <!-- contact -->
  <section id="contact">
    <h2>Contact</h2>
    <div class="context">
      <p class="contact-descrip">
        I'm always open for collaborations in
        <em>hackathons</em>, <em>academic research projects</em> and
        <em>open-source projects</em>.
        <br />
        <br />
        Feel free to reach out to me via my socials!
      </p>
      <div class="contact">
        <a href="https://x.com/kuntiniong">X</a>
        <p>·</p>
        <a href="https://github.com/kuntiniong">GitHub</a>
        <p>·</p>
        <a href="https://behance.net/kuntin">Behance</a>
        <p>·</p>
        <a href="mailto:dev@kunt.in">dev@kunt.in</a>
      </div>
    </div>
  </section>
</Layout>

<script src="/js/home.js" is:inline></script>