---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kun Tin | Projects" css="projects">
  <!-- projects -->
  <section id="projects">
    <h2>Projects</h2>

    <!-- item = info + project-image -->
    <!-- info = project-name + project-descrip + tech -->
    <div class="project context">
      <div class="project-item">
        <div class="project-info">
          <a href="https://github.com/kuntiniong/concert-ticket-app">
            <h3 class="project-name">Concert Ticketing App</h3>
            <p class="project-descrip">
              A <em>full stack concert ticketing</em> web app with
              <em>dual CMS </em> for technical and
              non-technical users <em>(Strapi Admin Panel + Google Sheets)</em>
            </p>

            <p class="tech">
              > Tech: <span>React, Strapi, Tailwind CSS, shadcn, Google Apps Script</span>
            </p>
          </a>
        </div>
        <div class="project-image">
          <img src="/images/ticket.png" alt="Concert Ticketing App Screenshot" loading="lazy" width="400" height="300" />
        </div>
        <div class="project-border"></div>
      </div>

      <div class="project-item">
        <div class="project-info">
          <a href="https://github.com/kuntiniong/kunt.in">
            <h3 class="project-name">kunt.in</h3>
            <p class="project-descrip">
              I built this <em>personal website</em> with vanilla Javascript on my own
            </p>

            <p class="tech">> Tech: <span>HTML, CSS, JavaScript</span></p>
          </a>
        </div>

        <div class="project-image">
          <img src="/images/web.png" alt="Personal Website Screenshot" loading="lazy" width="400" height="300" />
        </div>
        <div class="project-border"></div>
      </div>

      <div class="project-item">
        <div class="project-info">
          <a href="https://github.com/kuntiniong/hk-insta-identifier">
            <h3 class="project-name">
              Hong Kong Instagram Username Identifier
            </h3>
            <p class="project-descrip">
              A <em>NLP</em> pipeline that identifies
              <em>Hong Kong IG users</em> based on
              <em>Romanized Cantonese linguistic features</em> in
              <em>usernames</em>, without metadata
            </p>

            <p class="tech">
              > Tech: <span>Scikit-Learn, NLTK, Selenium</span>
            </p>
          </a>
        </div>
        <div class="project-image">
          <img src="/images/ig.png" alt="Instagram Logo for HK Username Identifier Project" loading="lazy" width="400" height="300" />
        </div>
        <div class="project-border"></div>
      </div>

      <div class="project-item">
        <div class="project-info">
          <a href="https://github.com/kuntiniong/aerolunar">
            <h3 class="project-name">AeroLunar</h3>
            <p class="project-descrip">
              A <em>time series forecasting</em> project that predicts
              <em>Air Quality Health Index (空氣質素健康指數)</em> using
              <em>lunar cycles</em>
            </p>

            <p class="project-descrip">
              Inspired by the
              <em>Chinese health beliefs</em> related to
              <em>lunar calendar</em>
            </p>

            <p class="tech">> Tech: <span>PyTorch, statsmodels</span></p>
          </a>
        </div>

        <div class="project-image">
          <img src="/images/moon.jpeg" alt="Moon Phase for AeroLunar Air Quality Prediction Project" loading="lazy" width="400" height="300" />
        </div>
        <div class="project-border"></div>
      </div>

      <div class="project-item">
        <div class="project-info">
          <a href="https://github.com/kuntiniong/ml-scratch">
            <h3 class="project-name">Machine Learning Models from Scratch</h3>
            <p class="project-descrip">
              A <em>Python implementation</em> of
              <em>8 ML models</em> introduced in
              <em>CS229</em>
            </p>

            <p class="tech">> Tech: <span>NumPy</span></p>
          </a>
        </div>

        <div class="project-image">
          <img src="/images/ml.png" alt="Machine Learning Models Implementation Screenshot" loading="lazy" width="400" height="300" />
        </div>
        <div class="project-border"></div>
      </div>
    </div>
  </section>
</Layout>
