---
---

<!-- about me -->
<section id="about">
  <div class="section-title">
    <h2>About Me</h2>
  </div>

  <div class="about context">
    <p>
      Hi people, I'm <em>Kun Tin</em> or you can call me <em>Kyle</em>😊
      <br /><br />

      I'm from Macau and was admitted to <em>CityUHK Data Science</em> with
      direct sophomore entry after high school in 2023. Additionally, I'm
      pursuing minors in <em>Mathematics</em> and <em>Computer Science</em>.
      <br /><br />

      Outside coursework, I've also taken part in different
      <em>hackathons, fintech and start-up competitions</em>. Currently, I'm
      interested in <em> enterprise tech, machine learning and privacy-preserving tech</em>.
    </p>
  </div>
</section>