---
import courses from '../data/courses.json';
---

<link rel="stylesheet" href="/css/courses.css" />

<!-- courses -->
<section id="courses">
  <h2>Courses</h2>
  <!-- courses = year(title) + course-list-->
  <div class="courses context">
    {Object.entries(courses).map(([yearKey, yearData]) => {
      const yearNum = yearKey.slice(-1);
      return (
        <div class="year">
          <h3>- Year {yearNum}</h3>
          <ul class="course-list">
            {Object.entries(yearData).map(([category, coursesList]) => (
              <div class={category}>
                {coursesList.map(course => <li class="course-item" set:html={course}></li>)}
              </div>
            ))}
          </ul>
        </div>
      );
    })}
  </div>
    <div class="legend">
  <p>></p>
  <div class="legend-item">
    <div class="legend-color math-color"></div>
    <p>Math</p>
  </div>
  <div class="legend-item">
    <div class="legend-color tech-color"></div>
    <p>Tech</p>
  </div>
  <div class="legend-item">
    <div class="legend-color business-color"></div>
    <p>Business</p>
  </div>
  <div class="legend-item">
    <div class="legend-color lang-color"></div>
    <p>Miscellaneous</p>
  </div>
</div>
</section>